/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */

header {
    background: #50b3a2;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Section Titles */

h2 {
    background: #333;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* General Section Styles */

section {
    background-color: white;
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* List items within Sections */

ul {
    list-style: disc inside;
}

#contact ul li {
    list-style: none;
    text-align: center;
}

#contact p {
    text-align: center;
}

ul li {
    margin: 5px;
    padding: 10px;
    text-align: left;
}

#free-resources ul li a, #blog ul li a {
    color: inherit;
    text-align: left;
}

.blog-resource a {
    font-weight: bold; /* Hacer la fuente más gruesa */
    color: #4CAF50; /* Cambiar el color para que resalte más */
}

.blog-resource a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse para más énfasis */
}
